
@{
    ViewBag.Title = "编辑维修单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>首页<span class="c-gray en">&gt;</span>系统资料<span class="c-gray en">&gt;</span>编辑维修单
    <a class="btn radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>

<div class="cl pd-5 mt-10">
    <span class="l">
        <a href="javascript:;" class="btn">
            <i class="Hui-iconfont">&#xe6e2;</i>保存
        </a>
    </span>
</div>