
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>首页<span class="c-gray en">&gt;</span>系统资料<span class="c-gray en">&gt;</span>维修单管理
    <a class="btn radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>

<div class="page-container" ms-controller="RepairOrderList">
    <div class="pd-5 search-bar">
        <form>
            维修状态：
            <select class="select-default" ms-duplex="##Search.Status">
                <option value="">请选择...</option>
                <option value="1">维修中</option>
                <option value="2">已完工</option>
            </select>
            结算状态：
            <select class="select-default ml-5" ms-duplex="##Search.SettlementStatus">
                <option value="">请选择...</option>
                <option value="1">未结算</option>
                <option value="2">已结算</option>
            </select>
            接待人：
            <select class="select-default ml-5" ms-duplex="##Search.ReceptionById">
                <option value="">请选择...</option>
                @foreach (var item in ViewBag.EmployeeList)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <input type="text" id="txtSearchRepairOn" ms-duplex="##Search.RepairOn" class="input-text ml-5" placeholder="开单时间" onclick="WdatePicker({ onpicked: selectSearchRepairOnFn, oncleared: selectSearchRepairOnFn });" />
            <input type="text" id="txtSearchCompleteOn" ms-duplex="##Search.CompleteOn" class="input-text ml-5" placeholder="完工时间" onclick="WdatePicker({ onpicked: selectSearchCompleteOnFn, oncleared: selectSearchCompleteOnFn });" />
            <input type="text" id="txtSearchSettlementOn" ms-duplex="##Search.SettlementOn" class="input-text ml-5" placeholder="结算时间" onclick="WdatePicker({ onpicked: selectSearchSettlementOnFn, oncleared: selectSearchSettlementOnFn });" />
            <button type="submit" onclick="refreshListFn(); return false;" class="btn btn_normal ml-5">搜索</button>
        </form>
    </div>

    <div class="cl pd-5">
        <span class="l">
            <a href="/Repair/Add" class="btn">
                <i class="Hui-iconfont">&#xe6e2;</i>新建
            </a>
            <a href="javascript:;" class="btn" onclick="setCompletedFn();">
                <i class="Hui-iconfont">&#xe6e2;</i>完工
            </a>
        </span>
    </div>

    <div class="cl pd-5">
        <table class="table table-border table-bordered table-bg">
            <thead>
                <tr class="text-c">
                    <th width="25">
                        <input type="checkbox" name="checkAll">
                    </th>
                    <th width="25">序号</th>
                    <th width="90">开单时间</th>
                    <th width="90">客户</th>
                    <th width="90">车牌号</th>
                    <th width="90">应收金额</th>
                    <th width="90">结算金额</th>
                    <th width="90">完工时间</th>
                    <th width="90">结算时间</th>
                    <th width="90">维修状态</th>
                    <th width="90">结算状态</th>
                    <th>备注</th>
                    <th width="100">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-c" ms-for="($index, item) in ##List">
                    <td>
                        <input type="checkbox" class="row-check" ms-attr="{value:item.Id}" />
                    </td>
                    <td>{{ $index + 1}}</td>
                    <td>{{ item.RepairOn | showTimeDateFilter }}</td>
                    <td>{{ item.CustomerName }}</td>
                    <td>{{ item.CarNumber }}</td>
                    <td>￥{{ item.Amount }}</td>
                    <td>￥{{ item.SettlementAmount }}</td>
                    <td>{{ item.CompleteOn | showTimeDateFilter }}</td>
                    <td>{{ item.SettlementOn | showTimeDateFilter }}</td>
                    <td>
                        <span class="label label-success radius">
                            {{ item.StatusName }}
                        </span>
                    </td>
                    <td>
                        <span class="label label-success radius">
                            {{ item.SettlementStatusName }}
                        </span>
                    </td>
                    <td>{{ item.Remark }}</td>
                    <td class="td-manage">
                        <a ms-attr="{href:'/Repair/Edit/' + item.Id}" title="修改">
                            <i class="Hui-iconfont">&#xe6df;</i>修改
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="12">
                        <div id="divPager"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section foot{
    <script type="text/javascript" src="/Static/Js/Business/RepairOrders/List.js"></script>
    <script type="text/javascript" src="/Static/Js/laypage1.2/laypage.js"></script>
    <script type="text/javascript" src="~/Static/Js/My97DatePicker/WdatePicker.js"></script>
}
