@{
    ViewBag.Title = "结算销售单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container" ms-controller="SaleSettlement">
    <form class="form form-horizontal" id="formSettlement">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                应收金额：
            </label>
            <div class="formControls col-xs-9 col-sm-9">￥{{ ##Amount }}</div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                已结算金额：
            </label>
            <div class="formControls col-xs-9 col-sm-9">￥{{ ##SettlementedAmount }}</div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                <span class="c-red">*</span>本次结算金额：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <input type="text" class="input-text" ms-duplex="##SettlementAmount" placeholder="结算金额" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">
                结算备注：
            </label>
            <div class="formControls col-xs-9 col-sm-9">
                <textarea class="textarea" ms-duplex="##SettlementRemark" placeholder="结算备注"></textarea>
            </div>
        </div>
        <div class="row cl">
            <div class="formControls col-xs-9 col-xs-offset-3">
                <input type="submit" onclick="return saveRepairSettlementFn(3);" class="btn" value="部分结算" />
                <input type="submit" onclick="return saveRepairSettlementFn(2);" class="btn" value="全部结算" />
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var $vm = avalon.define({
        $id: "SaleSettlement",
        SaleOrderId: parent.$vm.Id,
        Amount: parent.$vm.Amount,
        SettlementedAmount: parent.$vm.SettlementAmount,
        SettlementAmount: parent.$vm.Amount - parent.$vm.SettlementAmount,
        SettlementRemark: ""
    });

    function saveRepairSettlementFn(settlementStatus) {
        var postData = $vm.$model;
        delete postData.SettlementedAmount;
        postData.SettlementStatus = settlementStatus;
        $.ajax({
            url: "/Sale/SettlementOrder",
            type: "POST",
            data: postData,
            success: function (data) {
                parent.$.msg("结算成功。", "success");
                parent.layer.close(parent.layer.getFrameIndex(window.name));
            }
        });
        return false;
    }
</script>