<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Anchi.ERP.UI"/>
    <assembly name="Anchi.ERP.Service"/>
    <assembly name="Anchi.ERP.Repository"/>
    <assembly name="Anchi.ERP.IRepository"/>

    <container>
      <!--UI Window -->
      <register type="Anchi.ERP.UI.Views.LoginWindow" mapTo="Anchi.ERP.UI.Views.LoginWindow">
        <lifetime type="singleton"/>
      </register>
      <register type="Anchi.ERP.UI.Views.MainWindow" mapTo="Anchi.ERP.UI.Views.MainWindow">
        <lifetime type="singleton"/>
      </register>

      <!--UI ViewModel -->
      <register type="Anchi.ERP.UI.ViewModels.LoginViewModel" mapTo="Anchi.ERP.UI.ViewModels.LoginViewModel">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.UI.ViewModels.MainViewModel" mapTo="Anchi.ERP.UI.ViewModels.MainViewModel">
        <lifetime type="transient"/>
      </register>

      <!--Service-->
      <register type="Anchi.ERP.Service.Configs.ConfigService" mapTo="Anchi.ERP.Service.Configs.ConfigService">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.Service.Customers.CustomerService" mapTo="Anchi.ERP.Service.Customers.CustomerService">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.Service.Employees.EmployeeService" mapTo="Anchi.ERP.Service.Employees.EmployeeService">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.Service.Finances.FinanceOrderService" mapTo="Anchi.ERP.Service.Finances.FinanceOrderService">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.Service.Products.ProductService" mapTo="Anchi.ERP.Service.Products.ProductService">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.Service.Products.ProductStockRecordService" mapTo="Anchi.ERP.Service.Products.ProductStockRecordService">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.Service.Projects.ProjectService" mapTo="Anchi.ERP.Service.Projects.ProjectService">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.Service.Purchases.PurchaseService" mapTo="Anchi.ERP.Service.Purchases.PurchaseService">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.Service.Repairs.RepairOrderService" mapTo="Anchi.ERP.Service.Repairs.RepairOrderService">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.Service.SaleOrders.SaleOrderService" mapTo="Anchi.ERP.Service.SaleOrders.SaleOrderService">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.Service.Suppliers.SupplierService" mapTo="Anchi.ERP.Service.Suppliers.SupplierService">
        <lifetime type="transient"/>
      </register>

      <!--Repository-->
      <register type="Anchi.ERP.IRepository.Configs.IConfigRepository" mapTo="Anchi.ERP.Repository.Configs.ConfigRepository">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.IRepository.Customers.ICustomerRepository" mapTo="Anchi.ERP.Repository.Customers.CustomerRepository">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.IRepository.Employees.IEmployeeRepository" mapTo="Anchi.ERP.Repository.Employees.EmployeeRepository">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.IRepository.Finances.IFinanceOrderRepository" mapTo="Anchi.ERP.Repository.Finances.FinanceOrderRepository">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.IRepository.Products.IProductRepository" mapTo="Anchi.ERP.Repository.Products.ProductRepository">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.IRepository.Products.IProductStockRecordRepository" mapTo="Anchi.ERP.Repository.Products.ProductStockRecordRepository">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.IRepository.Projects.IProjectRepository" mapTo="Anchi.ERP.Repository.Projects.ProjectRepository">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.IRepository.Purchases.IPurchaseOrderProductRepository" mapTo="Anchi.ERP.Repository.Purchases.PurchaseOrderProductRepository">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.IRepository.Purchases.IPurchaseOrderRepository" mapTo="Anchi.ERP.Repository.Purchases.PurchaseOrderRepository">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.IRepository.Repairs.IRepairOrderProductRepository" mapTo="Anchi.ERP.Repository.Repairs.RepairOrderProductRepository">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.IRepository.Repairs.IRepairOrderProjectRepository" mapTo="Anchi.ERP.Repository.Repairs.RepairOrderProjectRepository">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.IRepository.Repairs.IRepairOrderRepository" mapTo="Anchi.ERP.Repository.Repairs.RepairOrderRepository">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.IRepository.SaleOrders.ISaleOrderProductRepository" mapTo="Anchi.ERP.Repository.SaleOrders.SaleOrderProductRepository">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.IRepository.SaleOrders.ISaleOrderRepository" mapTo="Anchi.ERP.Repository.SaleOrders.SaleOrderRepository">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.IRepository.Sequences.ISequenceRepository" mapTo="Anchi.ERP.Repository.Sequences.SequenceRepository">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.IRepository.Suppliers.ISupplierRepository" mapTo="Anchi.ERP.Repository.Suppliers.SupplierRepository">
        <lifetime type="transient"/>
      </register>
      <register type="Anchi.ERP.IRepository.Users.IUserRepository" mapTo="Anchi.ERP.Repository.Users.UserRepository">
        <lifetime type="transient"/>
      </register>
    </container>
  </unity>
</configuration>