
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ms-controller="UserList">
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i>首页<span class="c-gray en">&gt;</span>系统资料<span class="c-gray en">&gt;</span>用户管理
        <a class="btn radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
            <i class="Hui-iconfont">&#xe68f;</i>
        </a>
    </nav>
    <div class="pd-5 mt-10 text-l search-bar">
        <form>
            <input type="text" ms-duplex="##Search.TrueName" class="input-text" placeholder="姓名" />
            <input type="text" ms-duplex="##Search.LoginName" class="input-text" placeholder="登录名" />
            <button type="submit" onclick="refreshListFn(); return false;" class="btn btn_normal">搜索</button>
        </form>
    </div>
    <div class="cl pd-5">
        <span class="l">
            <a href="javascript:;" class="btn" onclick="addUserFn();">
                <i class="Hui-iconfont">&#xe6e2;</i>新增
            </a>
            <a href="javascript:;" class="btn" onclick="updateUserStatusFn(1);">
                <i class="Hui-iconfont">&#xe600;</i>启用
            </a>
            <a href="javascript:;" class="btn" onclick="updateUserStatusFn(2);">
                <i class="Hui-iconfont">&#xe600;</i>停用
            </a>
            <a href="javascript:;" class="btn" onclick="deleteSelectedRowFn();">
                <i class="Hui-iconfont">&#xe600;</i>删除
            </a>
        </span>
    </div>

    <table class="table table-border table-bordered table-bg">
        <thead>
            <tr class="text-c">
                <th width="20">
                    <input type="checkbox" name="checkAll">
                </th>
                <th width="30">序号</th>
                <th width="90">姓名</th>
                <th width="90">登录名</th>
                <th width="30">状态</th>
                <th width="90">身份证号</th>
                <th width="90">联系电话</th>
                <th width="150">地址</th>
                <th>备注</th>
                <th width="100">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-c" ms-for="($index, item) in ##List">
                <td>
                    <input type="checkbox" class="row-check" ms-attr="{value:item.Id}" />
                </td>
                <td>{{ $index + 1}}</td>
                <td>{{ item.TrueName }}</td>
                <td>{{ item.LoginName }}</td>
                <td>{{ item.StatusName }}</td>
                <td>{{ item.IDCard }}</td>
                <td>{{ item.Tel }}</td>
                <td>{{ item.Address }}</td>
                <td>{{ item.Remark }}</td>
                <td class="td-manage">
                    <a href="javascript:;" title="修改" ms-click="##editUserFn(item);">
                        <i class="Hui-iconfont">&#xe6df;</i>修改
                    </a>
                    <a href="javascript:;" title="删除" ms-click="##deleteUserFn(item);">
                        <i class="Hui-iconfont">&#xe6e2;</i>删除
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10">
                    <div id="divPager"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

@section foot{
    <script type="text/javascript" src="/Static/Js/Business/Users/List.js"></script>
    <script type="text/javascript" src="/Static/Js/laypage1.2/laypage.js"></script>
}