@{
    ViewBag.Title = "客户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Anchi.ERP.Domain.Employees.Enum;
@using Anchi.ERP.Common.Extensions;

<script type="text/javascript">
    function selectSearchRepairOnFn() {
        $vm.Search.EntryOn = $(arguments[0].el).val();
    }
</script>

<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>首页<span class="c-gray en">&gt;</span>系统资料<span class="c-gray en">&gt;</span>员工管理
    <a class="btn radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>

<div class="page-container" ms-controller="EmployeeList">
    <div class="pd-5 search-bar">
        <form>
            员工状态：
            <select class="select-default" ms-duplex="##Search.Status">
                <option value="">请选择...</option>
                @{
                    var enumList = EnumExtension.ToList(typeof(EnumEmployeeStatus));
                    foreach (var item in enumList)
                    {
                        <option value="@item.Value">@item.DisplayName</option>
                    }
                }
            </select>
            <input type="text" ms-duplex="##Search.Code" class="input-text ml-5" placeholder="编码" />
            <input type="text" ms-duplex="##Search.Name" class="input-text ml-5" placeholder="姓名" />
            <input type="text" id="txtSearchEntryOn" ms-duplex="##Search.EntryOn" class="input-text ml-5" placeholder="入职时间" onclick="WdatePicker({ onpicked: selectSearchRepairOnFn, oncleared: selectSearchRepairOnFn });" />
            <button type="submit" onclick="refreshListFn(); return false;" class="btn btn_normal ml-5">搜索</button>
        </form>
    </div>

    <div class="cl pd-5">
        <span class="l">
            <a href="javascript:;" class="btn" onclick="addEmployeeFn();">
                <i class="Hui-iconfont">&#xe6e2;</i>新增
            </a>
            <a href="javascript:;" class="btn" onclick="enableEmployeeFn();">
                <i class="Hui-iconfont">&#xe600;</i>启用
            </a>
            <a href="javascript:;" class="btn" onclick="disableEmployeeFn();">
                <i class="Hui-iconfont">&#xe600;</i>停用
            </a>
            <a href="javascript:;" class="btn" onclick="deleteSelectedRowFn();">
                <i class="Hui-iconfont">&#xe600;</i>删除
            </a>
        </span>
    </div>

    <div class="cl pd-5">
        <table class="table table-border table-bordered table-bg">
            <thead>
                <tr class="text-c">
                    <th width="20">
                        <input type="checkbox" name="checkAll">
                    </th>
                    <th width="30">序号</th>
                    <th width="90">编码</th>
                    <th width="90">姓名</th>
                    <th width="60">状态</th>
                    <th width="150">身份证号</th>
                    <th width="90">入职日期</th>
                    <th width="150">联系电话</th>
                    <th width="150">地址</th>
                    <th>备注</th>
                    <th width="100">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-c" ms-for="($index, item) in ##List">
                    <td>
                        <input type="checkbox" class="row-check" ms-attr="{value:item.Id}" />
                    </td>
                    <td>{{ $index + 1}}</td>
                    <td>{{ item.Code }}</td>
                    <td>{{ item.Name }}</td>
                    <td>
                        <span class="label label-success radius">
                            {{ item.Status == 1 ? "启用" : "停用" }}
                        </span>
                    </td>
                    <td>{{ item.IDCard }}</td>
                    <td>{{ item.EntryOn | showTimeDateFilter }}</td>
                    <td>{{ item.Tel }}</td>
                    <td>{{ item.Address }}</td>
                    <td>{{ item.Remark }}</td>
                    <td class="td-manage">
                        <a href="javascript:;" title="修改" ms-click="##editEmployeeFn(item);">
                            <i class="Hui-iconfont">&#xe6df;</i>修改
                        </a>
                        <a href="javascript:;" title="删除" ms-click="##deleteEmployeeFn(item);">
                            <i class="Hui-iconfont">&#xe6e2;</i>删除
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="11">
                        <div id="divPager"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section foot{
    <script type="text/javascript" src="/Static/Js/Business/Employees/List.js"></script>
    <script type="text/javascript" src="/Static/Js/laypage1.2/laypage.js"></script>
    <script type="text/javascript" src="~/Static/Js/My97DatePicker/WdatePicker.js"></script>
}