
@{
    ViewBag.Title = "采购单管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>首页<span class="c-gray en">&gt;</span>采购管理<span class="c-gray en">&gt;</span>采购单管理
    <a class="btn radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>

<div class="page-container" ms-controller="PurchaseOrderList">
    <div class="pd-5 search-bar">
        <form>
            采购状态：
            <select class="select-default" ms-duplex="##Search.Status">
                <option value="">请选择...</option>
                <option value="1">采购中</option>
                <option value="2">已到货</option>
            </select>
            结算状态：
            <select class="select-default ml-5" ms-duplex="##Search.SettlementStatus">
                <option value="">请选择...</option>
                <option value="1">未结算</option>
                <option value="2">已结算</option>
            </select>
            采购人：
            <select class="select-default ml-5" ms-duplex="##Search.PurchaseById">
                <option value="">请选择...</option>
                @foreach (var item in ViewBag.EmployeeList)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <input type="text" id="txtSearchPurchaseOn" ms-duplex="##Search.PurchaseOn" class="input-text ml-5" placeholder="开单时间" onclick="WdatePicker({ onpicked: selectSearchPurchaseOnFn, oncleared: selectSearchPurchaseOnFn });" />
            <input type="text" id="txtSearchArrivalOn" ms-duplex="##Search.ArrivalOn" class="input-text ml-5" placeholder="到货时间" onclick="WdatePicker({ onpicked: selectSearchArrivalOnFn, oncleared: selectSearchPurchaseOnFn });" />
            <input type="text" id="txtSearchSettlementOn" ms-duplex="##Search.SettlementOn" class="input-text ml-5" placeholder="结算时间" onclick="WdatePicker({ onpicked: selectSearchSettlementOnFn, oncleared: selectSearchPurchaseOnFn });" />
            <button type="submit" onclick="refreshListFn(); return false;" class="btn btn_normal ml-5">搜索</button>
        </form>
    </div>

    <div class="cl pd-5">
        <span class="l">
            <a href="/Purchase/Add" class="btn">
                <i class="Hui-iconfont">&#xe6e2;</i>新建
            </a>
            <a href="javascript:;" class="btn" onclick="setArrivalFn();">
                <i class="Hui-iconfont">&#xe6e2;</i>全部到货
            </a>
            <a href="javascript:;" class="btn" onclick="cancelOrderFn();">
                <i class="Hui-iconfont">&#xe6e2;</i>取消采购单
            </a>
        </span>
    </div>

    <div class="cl pd-5">
        <table class="table table-border table-bordered table-bg">
            <thead>
                <tr class="text-c">
                    <th width="25">
                        <input type="checkbox" name="checkAll">
                    </th>
                    <th width="30">序号</th>
                    <th width="90">开单时间</th>
                    <th width="90">供应商</th>
                    <th width="90">采购人</th>
                    <th width="90">采购状态</th>
                    <th width="90">应付金额</th>
                    <th width="90">结算金额</th>
                    <th width="90">结算状态</th>
                    <th width="90">结算时间</th>
                    <th>备注</th>
                    <th width="100">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-c" ms-for="($index, item) in ##List">
                    <td>
                        <input type="checkbox" class="row-check" ms-attr="{value:item.Id}" />
                    </td>
                    <td>{{ $index + 1}}</td>
                    <td>{{ item.PurchaseOn | showTimeDateFilter }}</td>
                    <td>{{ item.SupplierName }}</td>
                    <td>{{ item.PurchaseByName }}</td>
                    <td>
                        <span class="label label-success radius">{{ item.StatusName }}</span>
                    </td>
                    <td>￥{{ item.Amount }}</td>
                    <td>￥{{ item.SettlementAmount }}</td>
                    <td>
                        <span class="label label-success radius">{{ item.SettlementStatusName }}</span>
                    </td>
                    <td>{{ item.SettlementOn | showTimeDateFilter }}</td>
                    <td>{{ item.Remark }}</td>
                    <td class="td-manage">
                        <a ms-attr="{href:'/Purchase/Edit/' + item.Id}" title="修改">
                            <i class="Hui-iconfont">&#xe6df;</i>修改
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="12">
                        <div id="divPager"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section foot{
    <script type="text/javascript" src="/Static/Js/Business/PurchaseOrders/List.js"></script>
    <script type="text/javascript" src="/Static/Js/laypage1.2/laypage.js"></script>
    <script type="text/javascript" src="~/Static/Js/My97DatePicker/WdatePicker.js"></script>
}