@{
    ViewBag.Title = "财务报表";
}
@using Anchi.ERP.Common.Extensions;
@using Anchi.ERP.Domain.Finances.Enum;

<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>首页<span class="c-gray en">&gt;</span>报表<span class="c-gray en">&gt;</span>财务报表
    <a class="btn radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>

<div class="page-container" ms-controller="FinanceOrderList">
    <div class="pd-5 search-bar">
        <form>
            类型：
            <select class="select-default" ms-duplex="##Search.Type">
                <option value="">请选择...</option>
                @{
                    var enumList = EnumExtension.ToList(typeof(EnumFinanceOrderType));
                    foreach (var enumItem in enumList)
                    {
                        <option value="@enumItem.Value">@enumItem.DisplayName</option>
                    }
                }
            </select>
            时间：
            <input type="text" class="input-text" placeholder="开始时间" onclick="WdatePicker({ onpicked: selectCreatedOnBeginFn, oncleared: selectCreatedOnBeginFn });" />
            至
            <input type="text" class="input-text" placeholder="结束时间" onclick="WdatePicker({ onpicked: selectCreatedOnEndFn, oncleared: selectCreatedOnEndFn });" />
            <button type="submit" onclick="refreshListFn(); return false;" class="btn btn_normal ml-5">搜索</button>
        </form>
    </div>

    <div class="cl pd-5">
        <table class="table table-border table-bordered table-bg">
            <thead>
                <tr class="text-c">
                    <th width="30">序号</th>
                    <td width="90">编码</td>
                    <th width="90">关联单据</th>
                    <th width="90">类型</th>
                    <th width="120">时间</th>
                    <th width="90">金额</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-c" ms-for="($index, item) in ##List">
                    <td>{{ $index + 1}}</td>
                    <td>{{ item.Code }}</td>
                    <td>
                        <a ms-attr="{ href: ##GetRelationHrefFn(item) }">
                            {{ item.RelationCode }}
                        </a>
                    </td>
                    <td>{{ item.TypeName }}</td>
                    <td>{{ item.CreatedOn | showDateTimeFilter }}</td>
                    <td>￥{{ item.Amount }}</td>
                    <td>{{ item.Remark }}</td>
                </tr>
            </tbody>
        </table>
        <div id="divPager" class="mt-10"></div>
    </div>
</div>

@section foot{
    <script type="text/javascript" src="/Static/Js/Business/Finances/List.js"></script>
    <script type="text/javascript" src="/Static/Js/laypage1.2/laypage.js"></script>
    <script type="text/javascript" src="~/Static/Js/My97DatePicker/WdatePicker.js"></script>
}