@charset "utf-8";
/* 你自己的样式 */
.ms-controller{
   visibility: hidden;
}

.hide {
    display: none;
}

.search-bar input[type=text] {
    width: 150px;
    vertical-align: middle;
}

.search-bar select {
    height: 31px;
    min-width: 100px;
    display: inline;
    vertical-align: middle;
}

.order-edit-form th {
    width: 120px;
    text-align: right;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.btn-reset {
    height: 31px;
}